/*:root {
  --primary-color: #033f2b;    /* darker green */
/*--secondary-color: #f4a261; /* keep for accents only 
  --accent1-color: #264653;   /* dark blue-green 
  --accent2-color: #ffffff;   /* white text 

  --heading-font: "Times New Roman", Georgia, serif;
  --body-font: Arial, Helvetica, sans-serif;
}*/
:root {
    --primary-color: #033f2b;
    /* darker green */
    --secondary-color: #f4a261;
    /* keep for accents only */
    --accent1-color: #264653;
    /* dark blue-green */
    --accent2-color: #ffffff;
    /* white text */

    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    color: var(--secondary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: beige;
}

nav,
p,
section,
article {
    margin: 1px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 200px;
    padding: 50px;
}

.hero article {
    position: absolute;

}

footer {
    text-align: left;

    color: var(--secondary-color);

}

footer img {
    width: 30px;
}

.hero h1 {
    background-color: var(--accent1-color);
    color: #ffffff;
    opacity: 0.9;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

main p {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--secondary-color);
}