* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 30px gray;
    float: right;

}

aside {
    width: 20rem;
    text-align: center;
    /*border: solid rgb(0 0 0/.2);
    /* 1 *
    padding: 1rem;
    background-color: #eee;
    color: #333;
    margin: 1rem;*/

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 510 px;
    left: 100px;
}

p {
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid #000;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.hero h1 {
    background-color: var(--accent1-color);
    color: #ffffff;
    opacity: 0.9;
}

header {
    background-color: var(--primary-color);
}

header a {
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}