body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}
main {
    width: 400px;
    margin: 0 auto;
}
h1 {
    margin: 10px;
    text-align: center;
}
h2 {
    border-bottom: 1px solid black;
}
img {
    width: 400px;
    height: auto;
    box-shadow: 0 0 30px grey;
}
section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(36, 29, 29);
    border-radius: 5px;
    background-color: rgb(188, 188, 228);
    font-size: 1rem;
}
section p {
    margin: 10px;
}
footer {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    background-color: black;
    color: white;
    
}